.about {
margin-bottom: 150px;
@media screen and (max-width:768px) {
	margin-bottom: 70px;
}
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width:998px) {
			flex-direction: column;
			
		}
	}
	&__col:first-child{
		transform: translateX(40px);
		@media screen and (max-width:998px) {
			transform: translateX(0);
		}
	}
	&__col:last-child {
		max-width: 636px;
		background-color: var(--bg-color);
		padding: 70px 60px 84px 146px;
		margin-left: -40px;
		@media screen and (max-width:998px) {
			margin-left: 0;
			margin-top: 20px;
		}
		@media screen and (max-width:768px) {
			padding: 50px;
			
		}
		@media screen and (max-width:440px) {
			padding: 30px 30px 30px 50px;
		}
	}

	&__col-img {
	
	max-width: 100%;
	}

	&__col-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 140%;
		color: var(--dark-color);
		margin: 0;
		margin-bottom: 25px;
		@media screen and (max-width:440px) {
			font-size: 32px;
			margin-bottom: 15px;
		}
	}

	&__col-text {
		font-size: 14px;
		line-height: 140%;
		color: var(--dark-color);
		margin: 0;
		margin-bottom: 10px;
	}

	&__col-subtitle {
		font-weight: 600;
		font-size: 21px;
		line-height: 140%;
		color: var(--dark-color);
		margin: 15px 0 25px 0;
		@media screen and (max-width:440px) {
			font-size: 18px
		}
	}

	&__col-list {
		
		
	}
	&__col-item{
		position: relative;
		padding-left: 35px;
	}

	&__col-item:not(:last-child) {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 140%;
		color: var(--dark-color);
		
	}
	&__col-item::after{
		content: '';
		position: absolute;
		left: 0;
		top: 25%;
		transform: translateY(-50%);
		width: 8px;
		height: 8px;
		background-color: var(--accent-color);
		
	}
}

.header-about {
	background-image: url(../img/about/about_bg.svg);
	margin-bottom: 80px;
	@media screen and  (max-width: 768px) {
		margin-bottom: 40px;
	}
}
.photo {
	margin-bottom: 150px;
	@media screen and  (max-width: 768px) {
		margin-bottom: 40px;
	}
	&__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	&__slider-btn {
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: var(--light-color);
		background-color: var(--accent-color);
		padding: 10px 20px;
		display: block;
		max-width: 145px;
		position: absolute;
		left: 5%;
		bottom: 13%;
	}
	&__slider-slide {
		position: relative;
	}

	&__slider-slide img {
		border: 1px solid #f7ece1;
		padding: 25px 20px;
		max-width: 100%;
		@media screen and (max-width:768px){
			border: none;
			padding:0;
			height: 350px;
		}
		@media screen and (max-width:550px){
			height:250px;
		}
}
}
.aboutclub {
	margin-bottom: 120px;
	@media screen and  (max-width: 768px) {
		margin-bottom: 40px;
	}
	&__title {
		margin-bottom: 60px;
	}

	&__row {
		display: flex;
		align-items: center;
		@media screen and (max-width:1294px){
			flex-direction: column;
			
		}
	}

	&__col:last-child {
		padding: 80px 60px 100px 140px;
		background-color: var(--bg-color);
		transform: translateX(-10%);
		min-width: 856px;
		@media screen and (max-width:1294px){
			transform: translateY(-10%);
			
		}
		@media screen and (max-width:998px){
			padding: 80px;
			
		}
		@media screen and (max-width:768px){
			min-width: 606px;
			padding: 40px;
			padding-top: 80px;
			
		}
		@media screen and (max-width:550px){
			min-width: 300px;
			transform: translateY(0);
			padding: 10px;
			padding-top: 40px;
			
		}
	}

	&__col-img {
		position: relative;
		z-index: 5;
	}

	&__col-title {
		margin-bottom: 40px;
		font-size: 32px;
		@media screen and (max-width:550px){
	font-size: 28px;
			
		}
	}

	&__col-text {
		margin-bottom: 15px;
		line-height: 140%;
		color: var(--dark-color);
	}
	&__col-text:last-child{
		margin-bottom: 35px;
	}

	&__col-stat {
		display: grid;
		align-items: center;
		grid-template-columns: 30% 40% 30%;
		@media screen and (max-width:440px){

			grid-template-columns: 1fr;
		}
	}

	&__col-stat-item {
display: flex;
align-items: center;
	}
	&__col-stat-item:not(:last-child){
		margin-right: 15px;
	}

	&__col-stat-accent {
		font-size: 55px;
		color: var(--accent-color);
		display: block;
		margin-right: 15px;
	}

	&__col-stat-desc {
		display: block;
		font-size: 14px;
		font-weight: 700;
		line-height: 140%;
		color: var(--dark-color);

	}
}


