.about {
margin-bottom: 150px;
@media screen and (max-width:768px) {
	margin-bottom: 70px;
}
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width:998px) {
			flex-direction: column;
			
		}
	}
	&__col:first-child{
		transform: translateX(40px);
		@media screen and (max-width:998px) {
			transform: translateX(0);
		}
	}
	&__col:last-child {
		max-width: 636px;
		background-color: var(--bg-color);
		padding: 70px 60px 84px 146px;
		margin-left: -40px;
		@media screen and (max-width:998px) {
			margin-left: 0;
			margin-top: 20px;
		}
		@media screen and (max-width:768px) {
			padding: 50px;
			
		}
		@media screen and (max-width:440px) {
			padding: 30px 30px 30px 50px;
		}
	}

	&__col-img {
	
	max-width: 100%;
	}

	&__col-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 140%;
		color: var(--dark-color);
		margin: 0;
		margin-bottom: 25px;
		@media screen and (max-width:440px) {
			font-size: 32px;
			margin-bottom: 15px;
		}
	}

	&__col-text {
		font-size: 14px;
		line-height: 140%;
		color: var(--dark-color);
		margin: 0;
		margin-bottom: 10px;
	}

	&__col-subtitle {
		font-weight: 600;
		font-size: 21px;
		line-height: 140%;
		color: var(--dark-color);
		margin: 15px 0 25px 0;
		@media screen and (max-width:440px) {
			font-size: 18px
		}
	}

	&__col-list {
		
		
	}
	&__col-item{
		position: relative;
		padding-left: 35px;
	}

	&__col-item:not(:last-child) {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 140%;
		color: var(--dark-color);
		
	}
	&__col-item::after{
		content: '';
		position: absolute;
		left: 0;
		top: 25%;
		transform: translateY(-50%);
		width: 8px;
		height: 8px;
		background-color: var(--accent-color);
		
	}
}

.header-about {
	background-image: url(../img/about/about_bg.svg);
	
	&__title {
	}
}
.container {
}
.header {

	&__row {
	}

	&__col {
	}

	&__logo {
	}

	&__social {
	}
}
.logo {
}
.nav {

	&__list {
	}

	&__item {
	}

	&__link {
	}
}
.social {
}
.title {
}

