// @import "ui";
@import "mixin";
// Components: ============>
@import "components";
// Nullstyle: ============>
@import "nullstyle";
body {
	font-family: Gilroy;
	font-weight: 400;
	font-size: 14px;
}
body.lock {
	overflow: hidden;
}
.container{
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 15px;
	min-height: 100%
	
}
@media screen and (max-width:280px) {
	.container {padding: 0;}
}
.title {
	font-weight: 700;
		font-size: 36px;
		line-height: 140%;
		color: var(--dark-color);
		@media screen and (max-width: 400px) {
			font-size: 28px;
		}
}
.page-title{
	padding: 30px 0 60px;
		font-weight: 700;
		font-size: 48px;
		line-height: 140%;
		text-align: center;
		color: var(--light-color);
		@media screen and (max-width: 550px) {
			padding: 15px 0 30px;
		}
}
.slider-btn{
	display: flex;
	gap: 20px;
	@media screen and (max-width: 400px) {
		gap: 10px;
	}
}
.slider-btn img{
	display: block;
		padding: 10px;
		background-color: var(--accent-color);
		cursor: pointer;
}
// Fonts: ============>
@import "fonts";
// Header: ============>
@import "header";
// mobile-menu ======>
@import "mobile-menu";
// gallery ======>
@import "gallery";
// about ======>
@import "about";
// trainers ======>
@import "trainers";
// price ======>
@import "price";
// news ======>
@import "news";



// Footer: ============>
@import "footer";


//*==================>



